* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #f2f2f2; */
}

#girl,
#thief,
#thief2,
#bat {
    position: absolute;
    height: 100px;
}

#girl {
    left: 500px;
    top: 400px;
}

#thief {
    left: 1000px;
    top: 400px;
}

#thief2 {
    left: 0px;
    top: 400px;
    height: 100px;
    z-index: -1;
}

#bat {
    left: 100px;
    top: 450px;
    cursor: grab;
}

#gameOverModal {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-size: 2rem;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s ease;
}